@media (max-width: 1120px) {
  .col-lg-12, .col-md-10{
    padding-right:0px;
    padding-left:0px;
  }
  .hide-on-mobile{
    display: none !important;
  }
  .footer_section {
    display: flex;
    flex-direction:column;
    gap:5%;
    padding-bottom:30px;
  }
  .contact-section-main{
    display:flex;
    flex-direction:column;
    gap:5%;
  }
  .printing-services-parargraph {
    font-size: 170px;
    color: black;
    font-weight: 900;
    margin-top: -30px;
 }
 .printing-services-conatiner-section{
  display:block !important;
 }
 .why-image img {
  padding-left:0px !important;
  padding-top:5%;
  height:30px;
 }
 .contact-section-main{
  display:flex;
  flex-direction:column;
  gap:5%;
 }
 .social_box{
  padding:5% 0px 30px 35%;
}
}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }
  .social_box{
    padding:5% 0px 30px 35%;
  }

  #navbarSupportedContent {
    opacity: 1;
    transform: none;
    margin-top: 15px;
  }


  .navbar-toggler {
    padding: 0.25rem 0;
  }


  .header_section .user_option {
    display: none;
  }

  .custom_menu-btn {
    display: none;
  }

  .navbar-nav {
    align-items: center;
  }

  .custom_nav-container .navbar-toggler {
    margin-left: auto;
  }

  .custom_nav-container {
    padding: 15px 0;
    height: auto;
  }

  .slider_section {
    padding-bottom: 120px;
  }

  .info_section .info_contact .link-box .img-box {
    margin-right: 8px;
  }
  .col-lg-12, .col-md-10{
    padding-right:0px;
    padding-left:0px;
  }
  .why-image img {
    padding-left:0px !important;
    padding-top:5%;
    height:30px;
   }
  
}
@media (min-width: 992px) {
  .custom_nav-container {
    z-index: 99999;
    padding: 0;
    height: 104px;
}
.col-lg-12, .col-md-10{
  padding-right:0px;
  padding-left:0px;
}
}
@media (max-width: 767px) {
  .hero_area {
    background: none;
    background-color: #000000;
    /* background: linear-gradient(to bottom, #1a2e35 40%, #1cbbb4 40%); */
  }

  .slider_section {
    text-align: center;
    padding-bottom: 0;
  }

  .slider_section .detail-box {
    margin-bottom: 75px;
  }

  .slider_section .detail-box .btn-box {
    justify-content: center;
  }


  .img-container {
    padding: 0;
  }

  .slider_section .img-container .img-box {

    padding: 45px 0;
    background-color: #000000;
  }

  .experience_section .img-box {

    margin-bottom: 45px;

  }

  .category_section .category_container .box {
    flex-basis: 34%;
  }

  .client_section .detail-box {
    margin: 25px;
    padding: 45px 25px 35px 25px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    top: 92%;
  }

  .info_section .info_top {

    flex-direction: column;

  }

  .info_section .info_top .social_box {
    margin-top: 35px;
  }
  .social_box{
    padding:5% 0px 30px 35%;
  }

  .info_section .row>div {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;

  }
  .footer_section {
    display: flex;
    flex-direction:column;
    padding-bottom:30px;
  }

  .info_section .info_contact .link-box {
    margin: 0;
  }
  .staff-login-section{
    padding-right:33%;
    margin-top:10px;
  }
  .nav {
    padding-left:5%;
  }
  .col-lg-12, .col-md-10{
    padding-right:0px;
    padding-left:0px;
  }
  .hide-on-mobile{
    display: none !important;
  }
  .printing-services-parargraph {
    margin-top: -50px;
}
.printing-services-conatiner-section{
  display:block !important;
 }
 .why-image img {
  padding-left:0px !important;
  padding-top:5%;
  height:30px;
  width:250px;
 }
 .contact-section-main{
  display:flex;
  flex-direction:column;
  gap:5%;
}

}

@media (max-width: 576px) {
  .category_section .category_container {
    justify-content: center;
  }

  .category_section .category_container .box {
    flex-basis: 52%;
  }
  .printing-services-parargraph {
    margin-top: -50px;
}
.social_box{
  padding:5% 0px 30px 28%;
}
}

@media (max-width: 480px) {}

@media (max-width: 420px) {
  .client_section .detail-box {
    margin: 25px 5px;
    box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .slider_section .carousel_btn-container {

    width: 100px;
  }

  .slider_section .carousel_btn-container .carousel-control-prev,
  .slider_section .carousel_btn-container .carousel-control-next {
    width: 45px;
    height: 45px;
    background-size: 12px;
  }

  .slider_section ol.carousel-indicators {
    right: 0;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {

    top: 95%;

  }
  .layout_padding{
    padding-top: 0px;
    padding-bottom: 90px;
  }


  .icon-circle {
    background-color:red;
    margin-left:90px;
  }
  .icon-circle4 {
    margin-left:90px;
  }
  .footer_section {
    display: flex;
    flex-direction:column;
    padding-bottom:30px;
  }
  .nav {
    padding-left:0%;
  }

  .contact-section-main{
    display:flex;
    flex-direction:column;
    gap:5%;
  }



  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    width: 50px;
    height: 50px;
    background-size: 8px;
  }

  .freelance_section .tab_container .t-link-box .detail-box h3 {
    font-size: 22px;
  }

  .staff-login-section{
    padding-right:30%;
    margin-top:10px;
  }
  .slider_section .row > div {
    padding: 0% 5% 0% 5%;
  }

  .col-lg-12, .col-md-10{
    padding-right:0px;
    padding-left:0px;
  }
  .exprience-boxes{
    padding-left:15%;
  }
  .contact-section-header-one{
    font-size:50px;
  }
  .last-footer-section{
    padding-bottom:5%:
  }
  .footer_section{
    padding-top:5%;
  }
  .hide-on-mobile{
    display:none !important;
    margin-bottom:none !important;
  }
  .why-image img {
    padding-left:0px !important;
    padding-top:5%;
    height:30px;
    width:100%;
   }
   .social_box{
    padding:5% 0px 30px 15%;
  }
  .icon-circle3{
    padding-top:80%;
  }

}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
  .edit-cn{
    max-width: 1170px;
    height: 43em;
    
  }
}